@{
	ViewData["Title"] = "ValidationCode";
}
<h2>Validation</h2>
<form asp-action="ValidationPassword" method="post">
	<div class="form-group">
		<label for="VPassword">Pass</label>
		<input type="text" class="form-control" id="VPassword" name="VPassword" required />
	</div> 
	<button type="submit" class="btn btn-primary">Continue</button>
</form>