@{
	ViewData["Title"] = "Change password";
}
<h2>Change Password</h2>
<form asp-action="ChangePassword" method="post">
	<div class="form-group">
		<label for="PriorPassword">Prior Password</label>
		<input type="text" class="form-control" id="PriorPassword" name="PriorPassword" required />
	</div>
	<div class="form-group">
		<label for="newPassword">new Password</label>
		<input type="text" class="form-control" id="newPassword" name="newPassword" required />
	</div>
	<button type="submit" class="btn btn-warning">Change password</button>
</form>
@* @if (ViewBag.ErrorMessage != null)
{
	<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
} *@
